@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #efefef;
}

body {
  background-color: var(--bg-color);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.border{
  border: 5px solid #fff;
}


.fix-height{
  min-height: calc(100vh - 150px);
}
.fix-heighttt{
  min-height: calc(100vh - 171px);
}


.overflow-height{
  height: calc(100vh - 150px);
}

.border-gray-700-important {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity)!important);
}

.bN{
  border: 1px solid rgb(55 65 81 / 1);
}

button:disabled{
  cursor: not-allowed;
}